.button {
    -fx-background-color: green;
}
    /* Table text should always be white */

.table-view .column-header-background .label{
     -fx-background-color: transparent;
     -fx-font-size: 10px;
    -fx-font-weight:bold;
    -fx-text-fill: black;
    -fx-wrap-text: true;
}

.table-cell {
             -fx-text-fill: black;
             -fx-font-size: 10px;
         }

.table-row-cell:hover {
    -fx-background-color:rgb(52,143,235);
      -fx-text-fill: white;
}




