
/*.button {
     -fx-background-color: green;
 }*/
    /* Table text should always be white */

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-font-weight:bold;
    -fx-text-fill: black;
    -fx-wrap-text: true;
}

.table-cell {
    -fx-text-fill: black;
    -fx-font-size: 1em;
}

.table-row-cell:hover {
    -fx-background-color:#2ba8cf;
    -fx-text-fill: white;
}

.table-row-cell:selected {
    -fx-background-color:rgb(52,143,235);
    -fx-text-fill: white;
}


.biggerSize {
         -fx-font-size: 1.3em;
         -fx-text-fill: black;
         }

.evenbiggerSize {
    -fx-font-size: 1.6em;
    -fx-text-fill: black;
    }

.button:hover{
-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
  -fx-background-color: #f58442;
  -fx-text-fill: white;
}


